
.column_header{
  display: inline-block;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.sort_buttons{
  display: inline-block;
  height: 32px;
  width: 16px;
  padding: 0;
  margin: 0;
}

.sort_button{
  display: inline-block;
  height: 16px;
  width: 16px;
  clear: both;
}

.sort_buttons .up{
  background: url('/application/img/icons/bullet_arrow_up.png');
}

.sort_buttons .down{
  background: url('/application/img/icons/bullet_arrow_down.png');
  float: left;
}